@font-face 
{
  font-family: 'pixelFont';
  src: url('vhs-gothic.ttf');
}

body
{
	font-family: 'pixelFont';
	margin: 0px;
	border: 0px;
	-webkit-appearance: none; 
}
header
{
	font-family: 'pixelFont';
	margin: 0px;
	border: 0px;
	position: sticky;
	top: 0;
}
.sideBar
{
	background-color: #dddddd;
	width: 300px;
	padding: 10px;
	box-shadow: 5px 0px 5px #999999;
	float: left;
}
.sideBarMobile
{
	display: none;
}
.cartBar
{
	display: block;
	background-color: #dddddd;
	width: 300px; 
	position: fixed;
	z-index: 3;
	top: 0;
	right: -400px;
	padding: 20px;
	box-shadow: -5px 0px 5px #999999;
	float: right;
	height: 100vh;
	overflow-x: auto;
	overflow-y: auto;
	transition: right 0.5s;
}
.cartBarDiv
{
	margin: -2px;
}
.cartBarDiv h4
{
	color: #760000;
}
.cartBarRemoveButton
{
	float: right;
	margin: 10px;
}
.footer
{
	background-color: black;
	color: white;
	padding: 40px;
	width: 100vw;
	box-sizing: border-box;	
	box-shadow: 0px -5px 5px #999999;
	height: 350px;
	position: relative;
	bottom: 0;
    z-index: 2;
	clear: both;
}
.sideBarMainCategoryLinks
{
	color: #760000;
	text-decoration: none;
	font-size: 16pt;
	padding: 8px 15px;
	display: block;
}
.sideBarCategoryLinks
{
	color: black;
	text-decoration: none;
	padding: 8px 15px;
	display: block;
}
.sideBarSubCategoryLinks
{
	color: black;
	text-decoration: none;
	padding: 8px 15px 8px 30px;
	display: block;
}
.mainContent
{
	margin: 20px 20px 20px 350px;
}
.mainContentSections
{
	margin: 0 -20px 0 -25px;
	overflow-x: scroll;
	display: flex;
	scroll-behavior: smooth;
}
.mainContentSectionsWrap
{
	margin: 0 -20px 0 -25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.mainContentProducts
{
	margin: 10px;
	width: 150px;
	min-height: 250px;
	text-align: center;
	padding: 5px;
}
.mainContentProducts h5, a
{
	text-align: left;
	text-decoration: none;
	color: black;
	margin: 5px 0 0 0;
}
.mainContentProducts h4
{
	text-align: left;
	color: #760000;
	margin: 5px 0 0 0;
}
.mainContentProducts h6
{
	text-align: left;
	color: #238f00;
	margin: 5px 0 0 0;
}
.productCartButton
{
	float: right;
	padding: 5px;
}
.mainContentSubheading
{
	text-align:center;
}
.productPageContent
{
	margin: 20px 20px 20px 350px;
}
.productPagePhotoContainer
{
	margin: 0 -20px 0 -20px;
	overflow-x: scroll;
	display: flex;
	scroll-behavior: smooth;
}
.productPagePhotos
{
	margin: 5px;
	width: 300px;
	min-height: 250px;
	text-align: center;
	padding: 5px;
}
.productPageLeftDiv
{
	width: 60%;
	min-height: 400px;
	float: left;
	text-align: center;
}
.productPageRightDiv
{
	width: 35%;
	min-height: 200px;
	float: right;
}
.productPagePriceLabels
{
	width: 50%;
	float: left;
}
.productPagePrice
{
	width: 50%;
	float: right;
	text-align: right;
}
.productPagePrice h5
{
	color: #760000;
}
.productPagePrice h6
{
	color: #238f00;
	text-align: right;
}
.largeRedButton
{
	height: 40px;
	width: 100%;
	margin: 20px 0;
	background-color: #941e1e;
	border: none;
	box-shadow: 0px 2px 5px #660000;
	padding: 0 15px;
	background-image: url('Images/cart.svg');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 25px 25px;
	font-family: 'pixelFont';
	color: white;
}
.checkoutPageHeadings
{
	text-align: center;
}
.personalDetailsDiv
{
	width: 50%;
	float: left;
	text-align: center;
}
.addressDetailsDiv
{
	width: 50%;
	float: right;
	text-align: center;
}
.personalDetailsDiv h5, .addressDetailsDiv h5
{
	margin: 15px 10px 10px 10px;
}
.personalDetailsDiv h5:before, .addressDetailsDiv h5:before
{
	color: red;
	content: "*";
	padding: 5px;
}
.personalDetailsDiv input, .addressDetailsDiv input, .addressDetailsDiv select
{
	box-sizing: border-box;
	height: 45px;
	width: 70%;
	min-width: 300px;
	margin: 5px 0;
	background-color: #dddddd;
	border: none;
	box-shadow: 0px 2px 5px #999999;
	padding: 0 15px;
	font-family: 'pixelFont';
}
.checkoutDetailAcceptDiv
{
	width: 50%;
	text-align: center;
	margin: 50px auto 50px auto;
	padding: 50px;
	clear: both;
}
.checkboxStyle
{
	position: relative;
	top: 10px;
	padding: 5px;
	accent-color: #b70000;
	height: 35px;
	width: 35px;
}
.arrowDiv
{
	display: flex;
	justify-content: center;
	margin: 20px;
}
.categoryPageBanner
{
	height: 300px;
	margin: -20px -20px 0 -25px;
	text-align: center;
	background-color: #eeeeee;
	background-size: 1360px 295px;
	position: 0px 100px;
	box-shadow: 0px 5px 5px #999999;
}
.categoryPageBanner h4, h6
{
	text-align: center;
}

.navBar
{
	background-color: #941e1e;
	height: 80px;
	box-shadow: 0px 5px 5px #444444;
	color: white;
	position: relative;
    z-index: 2;
}
.navBarLinks
{
	float: left;
	padding: 30px 35px;
}
.navBarLinks a
{
	color: white;
	text-decoration: none;
	padding: 30px 15px;
}
.searchBarDiv
{
	float: right;
	height: 60%;
	background-color: #b70000;
	border: none;
	position: relative;
	top: 15px;
	box-shadow: 0px 2px 5px #660000;
	margin: 0;
	padding: -20px 0 -20px;
}
.searchBar
{
	height: 100%;
	width: 190px;
	margin: 0;
	background-color: #00000000;
	border: none;

	padding: 0 15px;

	font-family: 'pixelFont';
	color: white;
}
.searchBar::placeholder
{
	color: white;
}
.searchBarSubmit
{
	height: 100%;
	width: 50px;

	border: none;
	background-color: #cf0000;
	box-shadow: 0px 2px 5px #660000;
	padding: 0 15px;
	background-image: url('Images/search.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px 25px;
	font-family: 'pixelFont';
	color: white;
}
.contentDiv
{
	display: none;
}
.cartDiv
{
	float: right;
	margin: 18px;
}

.logo
{
	height: 70%;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
}
.homeBanner
{
	height: 300px;
	background-image: url('Images/ausonBanner.png');
	background-size: 1360px 295px;
	position: 0px 100px;
}
.homeBanner h1
{
	margin: 0;
	padding: 100px 0px;
	color: white;
	text-align: center;
	text-shadow: 4px 4px #000000;

}
@media screen and (max-width: 1100px)
{
	.navBar
	{
		box-shadow: none;
	}
	.searchBarDiv
	{
		text-align: center;
		background-color: #941e1e;
		height: 80px;
		box-shadow: 0px 5px 5px #444444;
		width: 100%;
		margin: 0;
		position: relative;
		top: 0;
		padding: 0;
	}
	.searchBar
	{
		width: 65%;
		height: 60%;
		background-color: #b70000;
		box-shadow: 0px 2px 5px #660000;
		box-sizing: border-box;
		margin: 0 -8px;
	}
	.searchBarSubmit
	{
		width: 15%;
		height: 60%;
		background-color: #cf0000;
		box-shadow: 0px 2px 5px #660000;
		box-sizing: border-box;
		margin: 10px -8px;
	}
	.logo
	{
		display: block;
		margin: auto;
		height: 70%;
		float: none;
	}
	.navBarLinks
	{
		display: none;
	}
	.contentDiv
	{
		display: inline;
		float: left;
		margin: 18px;
	}
	.sideBar
	{
		display: none;
	}
	.sideBarMobile
	{
		display: block;
		background-color: #dddddd;
		width: 300px; 
		position: fixed;
		z-index: 3;
		top: 0;
		left: -400px;
		padding: 20px;
		box-shadow: 5px 0px 5px #999999;
		float: left;
		height: 100vh;
		overflow-x: auto;
		overflow-y: auto;
		transition: left 0.5s; /* Will be changed via JS onclick function*/
	}
	.mainContent
	{
		margin: 20px;
	}
	.productPageContent
	{
		margin: 20px;
	}
	.productPageLeftDiv
	{
		width: 100%;
	}
	.productPageRightDiv
	{
		width: 100%;
	}
	.personalDetailsDiv
	{
		width: 100%;
	}
	.addressDetailsDiv
	{
		width: 100%;
	}
	.checkoutDetailAcceptDiv
	{
		width: 100%;
		margin: 0;
		padding: 50px 0 50px 0;
	}
	header
	{
		height: 160px;
	}
}
