@font-face 
{
  font-family: 'pixelFont';
  src: url('vhs-gothic.ttf');
}

body
{
	font-family: 'pixelFont';
	margin: 0px;
	border: 0px;

}
header
{
	font-family: 'pixelFont';
	margin: 0px;
	border: 0px;
	position: sticky;
	top: 0;
}
.sideBar
{
	background-color: #dddddd;
	width: 300px;
	padding: 10px;
	box-shadow: 5px 0px 5px #999999;
	float: left;
	height: 1200px;
}
.sideBarMobile
{
	display: none;
}
.footer
{
	background-color: black;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;	
	box-shadow: 0px -5px 5px #999999;
	height: 250px;
	position: relative;
    z-index: 2;
}
.sideBarMainCategoryLinks
{
	color: #760000;
	text-decoration: none;
	font-size: 16pt;
	padding: 8px 15px;
	display: block;
}
.sideBarCategoryLinks
{
	color: black;
	text-decoration: none;
	padding: 8px 15px;
	display: block;
}
.sideBarSubCategoryLinks
{
	color: black;
	text-decoration: none;
	padding: 8px 15px 8px 30px;
	display: block;
}
.mainContent
{
	margin: 20px 20px 20px 350px;

}
.mainContentSections
{
	margin: 0 -25px 0 -25px;
	overflow-x: auto;
	display: flex;
	scroll-behavior: smooth;
}
.mainContentProducts
{
	margin: 10px;
	width: 300px;
	height: 400px;
	text-align: center;
	padding: 5px;
}
.mainContentSubheading
{
	text-align:center;
}
.arrowDiv
{
	display: flex;
	justify-content: center;
	margin: 20px;
}
.navBar
{
	background-color: #941e1e;
	height: 80px;
	box-shadow: 0px 5px 5px #444444;
	color: white;
	position: relative;
    z-index: 2;
}
.navBarLinks
{
	float: left;
	padding: 30px 35px;
}
.navBarLinks a
{
	color: white;
	text-decoration: none;
	padding: 30px 15px;
}
.searchBarDiv
{
	float: right;
	height: 100%;
}
.contentDiv
{
	display: none;
}
.cartDiv
{
	float: right;
	margin: 18px;
}
.searchBar
{
	height: 50%;
	width: 250px;
	margin: 20px 0;
	background-color: #b70000;
	border: none;
	box-shadow: 0px 2px 5px #660000;
	padding: 0 15px;
	background-image: url('Images/search.svg');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 25px 25px;
	font-family: 'pixelFont';
	color: white;
}
.searchBar::placeholder
{
	color: white;
}
.logo
{
	height: 70%;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
}
.homeBanner
{
	height: 300px;
	background-image: url('Images/ausonBanner.png');
	background-size: 1360px 295px;
	position: 0px 100px;
}
.homeBanner h1
{
	margin: 0;
	padding: 100px 0px;
	color: white;
	text-align: center;
	text-shadow: 4px 4px #000000;

}
@media screen and (max-width: 1100px)
{
	.navBar
	{
		box-shadow: none;
	}
	.searchBarDiv
	{
		text-align: center;
		background-color: #941e1e;
		height: 80px;
		box-shadow: 0px 5px 5px #444444;
		width: 100%;
		margin: 0;
	}
	.searchBar
	{
		width: 80%;
	}
	.logo
	{
		display: block;
		margin: auto;
		height: 70%;
		float: none;
	}
	.navBarLinks
	{
		display: none;
	}
	.contentDiv
	{
		display: inline;
		float: left;
		margin: 18px;
	}
	.sideBar
	{
		display: none;
	}
	.sideBarMobile
	{
		display: block;
		background-color: #dddddd;
		width: 300px; 
		position: fixed;
		z-index: 3;
		top: 0;
		left: -400px;
		padding: 20px;
		box-shadow: 5px 0px 5px #999999;
		float: left;
		height: 100vh;
		overflow-x: auto;
		overflow-y: auto;
		transition: left 0.5s; /* Will be changed via JS onclick function*/
	}
	.mainContent
	{
		margin: 20px;
	}
	header
	{
		height: 160px;
	}
}
